In [20]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [21]:
train_x = pd.read_csv('./time_series_wide_from_kaggle_book_github.csv')

In [22]:
train_x.head(10)

   Unnamed: 0    A     B     C
0  2016-07-01  532  3314  1136
1  2016-07-02  798  2461  1188
2  2016-07-03  823  3522  1711
3  2016-07-04  937  5451  1977
4  2016-07-05  881  4729  1975
5  2016-07-06  931  4694  1937
6  2016-07-07  989  4077  1943
7  2016-07-08  905  4555  2112
8  2016-07-09  823  4467  1964
9  2016-07-10  786  5170  2132

In [23]:
num_cols = ['A', 'B', 'C']

In [24]:
scaler = StandardScaler()
scaler.fit(train_x[num_cols])

/Users/yoshiokaashitaba/.pyenv/versions/3.7.1/envs/ml/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [25]:
train_x[num_cols] = scaler.transform(train_x[num_cols])

/Users/yoshiokaashitaba/.pyenv/versions/3.7.1/envs/ml/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [26]:
train_x.head(10)

   Unnamed: 0         A         B         C
0  2016-07-01 -3.706225 -2.772779 -4.089585
1  2016-07-02 -0.971411 -4.438131 -3.838927
2  2016-07-03 -0.714380 -2.366690 -1.317891
3  2016-07-04  0.457684  1.399387 -0.035681
4  2016-07-05 -0.118067 -0.010207 -0.045322
5  2016-07-06  0.395996 -0.078540 -0.228494
6  2016-07-07  0.992309 -1.283138 -0.199572
7  2016-07-08  0.128683 -0.349916  0.615065
8  2016-07-09 -0.714380 -0.521722 -0.098345
9  2016-07-10 -1.094786  0.850778  0.711471